* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.slider {
  background: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}
.sliderImg {
  z-index: 1;
}

.buyButton {
  z-index: 1;
}
.buyButton:hover {
  color: black;
  background-color: white;
}
.product {
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
}
.payment {
  box-shadow: 2px 1px 12px 6px rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: 2px 1px 12px 6px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 2px 1px 12px 6px rgba(0, 0, 0, 0.61);
}
.payInput {
  border: none;
  border-bottom: 1px solid gray;
}
.payButton {
  box-shadow: 2px 1px 12px 6px rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: 2px 1px 12px 6px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 2px 1px 12px 6px rgba(0, 0, 0, 0.61);
}
.footerLeft {
  flex: 2;
  padding: 50px;
}
.fMenuList {
  padding: 0;
}
.fListItem{
  margin-bottom: 10px;
  color: gray;
  cursor: pointer;
}
.footerRight{
  padding: 50px;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}
.fInput{
  /* padding: 5px; */
}